body {
    height: 100vh;
}
.navbar-brand img {
	max-width: 32px;
	max-height: 32px;
	width: auto;
	height: auto;
}

main {
    display: flex;
    min-height: 70%;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
}


.form-signin {
    text-align: center;
    width: 330px;
    padding: 30px;
    margin: auto;
    background-color: #FFFFFF;
    border-radius: 1rem;
}

.form-signin h1 {
    margin-bottom: 30px;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

#floatingInput {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

#floatingPassword {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-signin img {
    max-width: 64px;
    max-height: 64px;
    width: auto;
    height: auto;
    margin: 5px;
}

.form-signin button {
    margin: 10px 0 10px 0;
    width: 100%;
}

footer {
    height: 150px;
    padding-bottom: 40px;
}

footer .justify-content-between {
    height: 100%;
    align-items: center;
    border-bottom: 1px solid #212529;
}

footer div a img {
    margin-right: 5px;
    max-width: 32px;
    max-height: 32px;
    width: auto;
    height: auto;
}

footer div ul li {
    margin-left: 1rem;
}